{% extends "base.html" %}
{% block content %}


<!-- Hero image container -->
<div id="home-hero" data-hero-page="login" class="home-hero container-fluid hero-container">
    <div class="jumbotron">
        <!-- Title -->
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h3>Add Country</h3>
            </div>
        </div>
        <!-- Category details to add -->
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 mt-3">
                <form action="{{ blog.views.add_country }}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="div_country_name" class="control-group mt-3">
                        <div class="controls">
                          <input type="text" name="country_name" placeholder="Country Name*" autocomplete="country_name" maxlength="150" class="textinput textInput" required id="country_name">
                        </div>
                    </div>

                    <div class="mt-4">
                        <button class="btn btn-primary content-width mx-auto" type="submit">Add Country</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}