{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}


<!-- Hero image container -->
<div id="article-hero" data-hero-page="article" class="container-fluid hero-container">
    <div class="hero-overlay"> </div>
    <div class="hero-footer h1 text-center text-light">
        <h1>{{ article.attraction }}</h1>
        <i class="fas fa-angle-down"></i>

        <!-- Article image -->
        {% if "default_image" in article.image.url %}
        <script type="text/javascript">
            document.getElementById("article-hero").style.backgroundImage = "url('')";
        </script>
        {% endif %}
        
    </div>
</div>

<!-- Comments -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Comments</h2>
            {% if commented %}
            <div role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}

            {% if user.is_authenticated %}
            <h3>Add a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form action="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}