{% extends "base.html" %}
{% block content %}

<!-- Hero image container -->
<div id="home-hero" data-hero-page="home" class="home-hero container-fluid hero-container text-light">
    <div class="hero-overlay"> </div>
    <div class="hero-footer h1 text-center text-light">
        <h1>Explore</h1>
        <i class="fas fa-angle-down"></i>
    </div>
</div>

<!-- List of articles -->
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12 mt-3 left">
            <h2>{{ country_name }}</h2>
            <p>Explore what's unseen in {{ country_name }}...</p>
            <hr>
        </div>
    </div>
    <!-- Adding articles -->
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for article in articles %}
                <div class="card-group col-md-4 mb-4">
                    <div class="card">
                        <!-- Article image -->
                        {% if "placeholder" in article.image.url %}
                        <a href="{% url 'article_detail' article.slug %}"><img class="card-img-top" src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Article image"></a>
                        {% else %}
                        <a href="{% url 'article_detail' article.slug %}"><img class="card-img-top" src="{{ article.image.url }}" alt="Article image"></a>
                        {% endif %}
                        <!-- Article content -->
                        <div class="card-body">
                            <a href="{% url 'article_detail' article.slug %}">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <p class="card-text">{{ article.summary }}</p>
                                {% if user == article.author or user.is_superuser %}
                                <div class="mt-4">
                                    <a class="btn btn-info" href="{% url 'edit_article' article.slug %}">Edit Article</a>
                                    <a class="btn btn-danger float-right" href="{% url 'delete_article' article.slug %}">Delete Article</a>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ article.updated_date }}</small>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <div class="text-center my-5">
        {% if not articles %}
        <p><strong>Stay tuned for new articles coming soon...</strong></p>
        {% endif %}
    </div>
    <div class="text-center my-5">

        {% if user.is_authenticated %}
        <a class="btn btn-success" href="{% url 'add_article' country_name %}">Add Article</a>
        {% endif %}
    </div>
</div>

{% endblock %}